
/* --------------------------------O M A A R---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

:root {
  --brightRed:hsl(12, 88%, 59%);
    --darkBlue:hsl(228, 39%, 23%);
    --darkGrayishBlue: hsl(227, 12%, 61%);
--veryDarkBlue: hsl(233, 12%, 13%);
--veryPaleRed: hsl(13, 100%, 96%);
--varyLightGray: hsl(0, 0%, 98%);
  }
*,
body {
  /* overflow-x: hidden; */
  font-size: 16px;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
p{
  line-height: 30px;
font-weight: 500;
font-size: 18px;
}

.background {
  position: absolute;
  z-index: -1;
  right: 0%;
  left: 40%;
  top: -20%;
}

.container1 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.header .left {
  align-self: center;
  width: 10%;
}

.header .left img {
  width: 100%;
}

.header .middle {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.header .middle button {
  color: var(--darkBlue);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.header .right {
  width: 15%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.header .right img {
  display: none;
}

.header .right button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 70%;
  border: none;
  background-color: var(--brightRed);
  color: white;
  border-radius: 50px;

}

button:hover {
  opacity: 0.5;
}

.body .container1 {
  width:80%;
  margin: auto;
  padding-top: 5%;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top .left {
  width: 40%;
}

.top .left h1 {
  font-weight: 700;
  font-size: 60px;
  margin-top: 5%;
  color: var(--darkBlue);
}

.top .left p {
  font-weight: 500;
  font-size: 20px;
  color: var(--darkGrayishBlue);
  width: 70%;
  line-height: 25px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.top .left button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 28%;
  height: 12%;
  border: none;
  background-color: var(--brightRed);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 20px 15px -15px hsl(12, 88%, 59%);
}

.top .right {
  width: 50%;
  height: 100%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20%;
  /* Location of the box */
  /* padding-right: 20%; */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  height: 40%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-content button {
  font-weight: 700;
  color: var(--darkBlue);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}

/* The Close Button */
.close {
  position: absolute;
  top: 1%;
  right: 10%;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;


}

/**************************************/

body{
  min-height: 100vh;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;

}

/* .mode{
  position: absolute;
  top:50%;
  right: 20px;
} */
.mode{
  margin-top: 5px;
  margin-left: 10px;
}

.label {
  width: 40px;
  height: 20px;
  background-color:var(--darkBlue );
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 18px;
  height:18px;
  background-color: var(--brightRed);
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(18px);
}

.moon {
  color: pink;
  font-size: 15px !important;
  /* width: 20px; */
}

.sun {
  color: yellow;
  font-size: 15px !important;
}

.change {
  cursor: pointer;
  border: 1px solid hsl(12, 88%, 59%);
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}

/* /////////////////////////////FOOTER ///////////////////////////////////////////// */

.h22:hover {
  color: var(--brightRed);
}

.h33:hover{
  cursor: pointer;
}



input[type="text"],
select {
  /* width: 100%; */
  padding: 12px 20px;
  margin-top: 10%;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;


}
/*Mobile First*/
h6{
  color:var(--veryDarkBlue);
}
a{
  text-decoration: none;
}
ul{
 
  list-style-type: none;
}
 .container{
  margin: 0 2rem;
} 
#different{
  margin: 1rem 0;
  text-align: center;
  background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: -40% top;
}
#different .btn{
  position: absolute;
  display: inline;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  background-color:var(--brightRed) ;
  color: var(--veryPaleRed);
  height: fit-content;
 
}
 p{
  font-size: 12px;
  color: var(--darkGrayishBlue);
}


/* APPLYING MEDIA QUERIES small devices */




.different{
  margin: 2rem 0;
}
.different h3{
  font-size: 40px;
  padding-bottom: 1rem;
}
.content{
  text-align: left;
  margin-left: 0.5rem;
  position: relative;
}
.content h6{
  padding: 0.3rem 2rem;
  background-color: var(--veryPaleRed);
  width: 100%;
  padding-left: 3rem;
  margin-left: 1rem;
  
}
.content p{
  padding-bottom: 2rem;
}
.title{
  display: flex;
  margin-bottom: .5rem;
  
}
/* ****  carousel Design **** */
#carousel{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.get-started{
  background-color: var(--brightRed);
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 30px
}
.get-started a{
  color:var(--veryPaleRed);
}
.get-started:hover{
  opacity: 0.5;
}
 



/*******carr******** */
.menu{
  background-color: var(--varyLightGray);
  text-align: center;
  position: relative;
  padding: 4rem 2rem;
  margin: 5rem 1rem;
  margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.menu h3{
  font-size: 25px;
}

.menu--item  h4{
  padding: 2rem 0;
}

.carousel-nav{
  position: absolute;
  left: 50%;
  margin: 0px 0 0 -50px;
  bottom: -3.5rem;
}

.menu--item  .carousel-img{
  position: absolute;
  top: -3rem;
  left: 50%;
  margin: 0px 0 0 -50px;
  width: 100px;
}
.menu--item{
  display: none; 
  background-color: var(--varyLightGray);


}

 .carousel{
  display: flex;
  flex-direction: row; 
 }
.item-selected{
display:block;
}
.carousel-button{
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid var(--brightRed);
  border-radius: 50%;
  cursor: pointer;
}
.carousel-button-selected ,.carousel-button-selected:hover{
  background: var(--brightRed);
}
/*************/
.carousel{
overflow: hidden;
}
.slider-container{
  max-width: 1200px;
  overflow: hidden; 
}
.carousel:first-child{
  margin-left: 0px;
}
.name{
  font-weight: 500;
}
.description{
  padding: 0 1rem;

}
/* APPLYING MEDIA QUERIES small devices */
@media (max-width: 768px) {
  .background {
    position: absolute;
    z-index: -1;
    right: 0%;
    left: 10%;
    top: -10%;
    bottom: 0%;
    overflow-x: hidden;
  }

  .background img {
    height: 45%;
  }


  .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
  }

  .header .left {
    align-self: center;
    width: 40%;
  }

  .header .middle {
    display: none;
  }

  .header .right {
    width: 15%;
    /* margin-right: 5%; */
    margin-right: 0%;
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .header .right button {
    display: none;
  }

  .header .right img {
    display: block;
    height: 50%;
    margin-top: 10%;
  }

  .body .container {
    padding-top: 5%;
  }

  .top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .top .left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top .left h1 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 5%;
    text-align: center;
    color: var(--darkBlue);
  }

  .top .left p {
    width: 90%;
    margin: auto;
    font-weight: 500;
    font-size: 18px;
    color: var(--darkGrayishBlue);
    line-height: 30px;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .top .left button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 40%;
    height: 50px;
    border: none;
    background-color: var(--brightRed);
    color: white;
    border-radius: 50px;
    box-shadow: 0px 20px 15px -15px hsl(12, 88%, 59%);
  }

  .top .right {
    width: 100%;
    height: 100%;
  }

  .top .right img {
    width: 100%;
    height: 95%;
  }
}

    
    
    /* APPLYING MEDIA QUERIES very small devices */
@media (max-width: 280px) {
  #different .btn {
    padding: 0.3rem 1rem;
    font-size: 10px;
  }


.content h6{
  font-size: 10px;
}  
    
}
/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 768px) { 
  /* .background {
    position: absolute;
    z-index: -1;
    right: 0%;
    left: 30%;
    top: -10%;
    bottom: 0%;
    overflow-x: hidden;
  } */
.background{
  position: absolute;
  z-index: -1;
  /* right: -20%;
  top: -30%; */
  /* left: 25%;
  bottom: 20%; */
  overflow-x: hidden;
}
  

  .background img {
    height: 80%;
  }

  .top {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .top .right {
    width: 50%;
    height: 100%;
  }

  .top .right img {
    width: 100%;
    height: 80%;
  }

  .top .left {
    width: 50%;
  }

  .top .left h1 {
    font-size: 50px;
  }

  .top .left button {
    width: 45%;
    height: 10%;
    border-radius: 50px;
  }

  .header .right button {
    width: 100%;
    border-radius: 30px;
  }

  .header .middle button {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  .background {
    position: absolute;
    z-index: -1;
    left: 55%;
    top: -20%;
    bottom: 0%;
  }

  .background img {
    height: 90%;
    padding-bottom: 10%;
    padding-right: 10%;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .top .left {
    width: 40%;
  }
  
  .top .left h1 {
    font-size: 60px;
  }
  
  .top .left button {
    width: 28%;
    height: 8%;
    border-radius: 50px;
  }
  
  .top .right {
    width: 50%;
    height: 100%;
  }

  .top .right img {
    width: auto;
    height: auto;
  }

  .header .middle button {
    font-size: 16px;
    font-weight: 500;
  }
  
  .header .right button {
    width: 70%;
    border-radius: 50px
  }
}

/* --------------------------------O M A A R---------------------------------------------- */

 @media only screen and (min-width: 700px) {
 .different{
  margin-top: 0;
 }

  #different {
    width: 80%;
    margin: auto;
    background-position: -70% top;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.container {
  margin: 0;
}
.content .txt{
  padding-left: 4.5rem;
}
.content h6{
  padding:0;
  margin-left: 1.5rem;
  background-color: transparent !important;
}

   #different .btn{
    position: relative;
    /* margin-right: 1.5rem; */
   }
   .track{
    margin: 0 2rem;
   }
   .dots {
    display: none;
   }
   .carousel{
    display: flex;
    flex-direction: row; 
   }
   .menu{
    background-color: transparent;
    width: 80%;
  height: 350px;
       padding: 0; 
    margin: 0;
    margin-top: 2rem;
  overflow: hidden;
   }
   .menu--wrapper{
    width: 250%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
   }
   .menu--item{
    display: block;
    padding-bottom: 2rem;
  width: 400px;
  position: relative;
  margin-top: 3rem;
  }
  .carousel-nav{
    display: none;
  }

  .menu--item h4 {
    margin-top: 3rem;
}
} 


/* ////////////////////////////////////////////////////////////////////


 
*/

.upperFoter{
  background-color: var(--brightRed);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 20%; */
}

.get-startedd{
  background-color: var(--varyLightGray);
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 30px
}
.get-startedd a{
  color:var(--brightRed);
}
.get-startedd:hover{
  opacity: 0.5;
}

.upperFotertxt{
  color: var(--varyLightGray);
  font-size: 50px;
  align-self: start;
}



.txth1{
  max-width: 40%;
  /* margin: 5%; */
  margin: 5% 10% 5%  0%;
  display: flex;
}


.mainFooter{
  display: flex;
  background: #1d1e25;
  align-items: center;
  justify-content: center;
}

.btnn{
  margin-right:7% ;
}

.footer {
  /* margin: 70px; */
 
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background: #1d1e25;
  color: white;
  display: grid;
  position: relative;
  bottom: 0px;
  width: 85%;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a c d e"
    "b c d f";
}

/* @media (min-width: 768px) {
  .footer {
    padding: 70px;
   
  }
} */

@media (max-width: 768px) {
  .footer {
    padding: 70px;
    padding: 50px 0px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "a a"
      "b c"
      "d d"
      "e e"
      "f f";


  }
}

.social__links {
  grid-area: b;
  align-self: center;
  margin-top: 15%;
}


@media (max-width: 768px) {
  .social__links {
    text-align: center;
    grid-area: d;
    margin-bottom: 3.375rem;
    margin-top: 0%
  }
}

.social__links > a:not(:last-child) {
  margin-right: 0.6875rem;
}

@media (max-width: 768px) {
  .social__links > a > img {
    width: 33px;
  }
}

.col2 > a,
.col3 > a {
  display: block;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
}

.col2 > a:not(:last-child),
.col3 > a:not(:last-child) {
  margin-bottom: 1.375rem;
}

.col2 {
  grid-area: c;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.col2 a{
 font-size: 20px;
 /* margin-bottom: 20% !important; */
}

@media (max-width: 768px) {
  .col2 {
    text-align: center;
    grid-area: b;
    margin-bottom: 3.5rem;
    margin-top: 0%;
  }
}

.col3 {
  grid-area: d;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.col3 a{
  font-size: 20px;
  /* margin-bottom: 20% !important; */
 }

@media (max-width: 768px) {
  .col3 {
    text-align: center;
    grid-area: c;
    margin-top: 0%;
  }
  .upperFoter{
    flex-direction: column;
  }

  .get-startedd{
    /* width: 50%; */
    align-items: center;
  }
  .txth1{
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0%;
  }

  .upperFotertxt{
    display: flex;
    align-self: center;
    align-items: center;
  }
}

.col4 {
  grid-area: e;
  text-align: right;
  margin-right: 20%;
}

@media (max-width: 768px) {
  .col4 {
    width: 80vw;
    grid-area: a;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    margin-right: 15%;
  }
}

.col4 input {
  border-radius: 50px;
  border: none;
  font-family: inherit;
  padding: 1.0625rem 1.875rem;
  margin-right: 0.5rem;
  width:50%;
}


@media (max-width: 768px) {
  .col4 input {
    width:70%;

  }
}

.invalid {
  color: red;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.valid {
  display: none;
  color: rgb(22, 211, 22);
  align-items: center;
  justify-content: center;
}
.col4 > input::placeholder {
  color: #9095a7;
}

.go_btn {
  background-color: var(--brightRed);
  color:hsl(0, 0%, 98%);
  border: none;
  border-radius: 50px;
  padding: 15px;
  font-weight: 500;
  width: 20%;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.go_btn:hover {
  opacity: 0.75;
}

.logo__footer {
  grid-area: a;
  align-self: center;
}

@media (max-width: 768px) {
  .logo__footer {
    grid-area: e;
    margin: 0 auto;
    margin-bottom: 3.5rem;
  }
}

.copyright {
  align-self: center;
  text-align: center;
  grid-area: f;
  color: var(--darkGrayishBlue);
}

@media (max-width: 768px) {
  .copyright {
    margin: 0 auto;
  }
}



