@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
:root {
  --brightRed:hsl(12, 88%, 59%);
    --darkBlue:hsl(228, 39%, 23%);
    --darkGrayishBlue: hsl(227, 12%, 61%);
--veryDarkBlue: hsl(233, 12%, 13%);
--veryPaleRed: hsl(13, 100%, 96%);
--varyLightGray: hsl(0, 0%, 98%);
  }
* ,body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Mobile First*/
.container{
  margin: 0 2rem;
}
#different{
  margin: 1rem 0;
  text-align: center;
}
#different .btn{
  position: absolute;
  left: 1rem;
  display: inline;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  background-color:var(--brightRed) ;
  color: var(--veryPaleRed);
  height: fit-content;
 
}
#different p{
  font-size: 12px;
    color: var(--darkGrayishBlue);
}
.different{
  margin: 2rem 0;
}
.different h3{
  font-size: 40px;
  padding-bottom: 1rem;
}
.content{
  text-align: left;
  margin-left: 0.5rem;
  position: relative;
}
.content h6{
  padding: 0.3rem 2rem;
  background-color: var(--veryPaleRed);
  width: 100%;
  margin-left: 3rem;
}
.content p{
  padding-bottom: 2rem;
}
.title{
  display: flex;
  margin-bottom: .5rem;
  
}

/* APPLYING MEDIA QUERIES small devices */
@media (max-width: 768px) {

    
    
    }
    /* APPLYING MEDIA QUERIES very small devices */
@media (max-width: 280px) {
  #different .btn {
  
    padding: 0.3rem 1rem;
    font-size: 10px;
  }

.content h6{
  font-size: 10px;
}
    
    
}
/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 700px) {
 .different{
  margin-top: 0;
 }
  #different {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.content .txt{
  padding-left: 5rem;
}
.content h6{
  padding:0;
  margin-left: 0;
  background-color: transparent !important;
}
   #different .btn{
    position: relative;
    margin-right: 1.5rem;
   }
   .track{
    margin: 0 2rem;
   }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
   
}



